/* About.js CSS */

.about {
    padding: 2rem;
    background-color: #fdf1e3;
    /* Light yellow-orange background */
    color: #333;
}

h2 {
    font-size: 2.5rem;
    color: #f39c12;
    /* Orange text color */
    margin-bottom: 1rem;
}

.description {
    text-align: center;
    margin-bottom: 2rem;
}

.description p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.projects {
    text-align: center;
    margin-bottom: 4rem;
}

.projects h2 {
    margin-bottom: 1rem;
}

.projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardContent {
    padding: 1rem;
}

.cardContent h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #f39c12;
    /* Orange text color */
}

.cardContent p {
    font-size: 1rem;
    color: #333;
}

.empowerment {
    text-align: center;
    margin-bottom: 4rem;
}

.empowerment p {
    font-size: 1.2rem;
    line-height: 1.8;
}